.contact-form-wrapper {
    align-items: center;
    width: 100%;
    min-height: 300px;
    max-width: 500px;
    background-color: #F4F4F9;
    border-radius: 8px;
    margin: 0 auto;
    padding: 2rem;
}