/*#region General Css Rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 1px solid red; 
}

@font-face {
    font-family: Raleway;
    src: url('fonts/Raleway-VariableFont_wght.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: RobotoMono;
    src: url('fonts/RobotoMono-VariableFont_wght.woff2') format('woff2');
}

:root {
    --section-bg-color: #2c2c2e;
    --hero-bg-color: #0c0c0c;
    --hero-text-color: #FFFFFF;
    --secondary-color: #1F72AE;
    --lang-skills-color: #4FC3F7;
    --frontend-skills-color: #81C784;
    --backend-skills-color: #BA68C8;
    --tools-skills-color: #FFB74D;
    --other-skills-color: #B0BEC5;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1e1e1e;
    color: #fff;
    /* margin: 0em auto;
    max-width: 900px;
    padding: 0 5%; */
    margin: 0;
    padding: 0;
    text-align: center;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin-top: 1.5em;
    margin-bottom: 0;
} 

.raleway-font-light > h1 {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 300;
}

.roboto-mono-font > h1 {
    font-family: 'RobotoMono', monospace, Arial, sans-serif;
}
/*#endregion*******************/  

/*#region Hero Section */
.hero-section {
    background-color: var(--hero-bg-color);
    color: var(--hero-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    height: 670px;
    letter-spacing: 0.18em;
    font-size: 2rem;
}

.hero-section > h2 {
    padding: 0;
    margin: 0;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.hero-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8vw;
    height: 80%;
}

.hero-flex > div:first-child {
    text-align: right;
}

.hero-flex > div:last-child {
    text-align: left;
}

.hero-flex > div {
    flex: 0 0 50%
}

.hero-button {
    background-color: var(--secondary-color);
    color: #fff;
    border-bottom: 3px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5em 1em;
    width: 25vw
}
/*#endregion ***************/

/*#region Sticky Header */
.sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: #000;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    height: 50px;
    z-index: 9999;
}

/*#endregion */

/*#region Contact Info */
.contact-info {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}

.contact-info > p {
    background-color: var(--section-bg-color);
    border-bottom: 3px solid transparent;
    font-weight: bold;
    padding: 0.5em;
    border-radius: 0;
    cursor: pointer;
    transition: 
        border-bottom-color 0.3s ease, 
        transform 0.3s ease;
}

.contact-info > p.highlight {
    border-bottom-color: var(--secondary-color);
    transform: scale(1.01);
}

/* Stylized link borders */
.contact-info > p:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.contact-info > p:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*#endregion */

/*#region Section */
.section {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 1em;
    opacity: 0;
    transform: translateY(50px) scale(0.95);
    transition: opacity 0.8s ease, transform 1.3s cubic-bezier(0.22, 1, 0.36, 1);
}

.section.is-visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.section-clamp {
    max-width: 66%;
    margin: 0em auto;
    padding: 0 5%;
}

/* Card style for each section */
.section > div {
    background-color: var(--section-bg-color);
    padding: 0 1em;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 5px solid var(--secondary-color);
    box-shadow:  0px 4px 12px rgba(0,0,0,0.3);
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.job-title {
    margin-top: 0px;
}
/*#endregion***********************************/

/*#region Skill Chips */
.chip-set {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 1rem;
}

.chip-set > span {
    background-color: #E0E0E0;
    border-radius: 12px;
    font-weight: bold;
    padding: 0.25em 0.5em;
}

.lang span { background-color: var(--lang-skills-color); }
.frontend span { background-color: var(--frontend-skills-color); }
.backend span { background-color: var(--backend-skills-color); }
.tools span { background-color: var(--tools-skills-color); }
.other span { background-color: var(--other-skills-color); }
/*#endregion */

.export-button {
    background-color: var(--section-bg-color);
    border-bottom: 3px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: border-bottom-color 0.3s ease;
    max-width: 23%;
    margin: 1em auto;
}

.export-button.highlight {
    border-bottom-color: var(--secondary-color);
}

/* Mobile */
@media(max-width: 600px) {
    h1.name {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    body {
        font-size: 0.95rem;
    }

    /*#region Hero */
    .hero-section {
        height: 100vh;
        min-height: 500px;
        font-size: 1.5rem;
    }

    .hero-section > h2 {
        padding: 0;
        margin: 0;
    }

    .hero-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .hero-flex > div:first-child,
    .hero-flex > div:last-child {
        text-align: center;
    }
    /*#endregion */

    /*#region Section */
    .section {
        text-align: left;
    }

    .section-clamp {
        max-width: 100%;
        margin: 0em auto;
        padding: 0 10px;
    }
    /*#endregion */

    .contact-info {
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .job-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
}