.sticky {
    position: -webkit-sticky; /* For Safari */
    position: fixed;
    top: 0;
    background-color: #000;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    height: 50px;
    z-index: 9999;
}

.nav-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2em;
}

.logo {
    font-size: 1.2em;
    letter-spacing: 0.16em;
    cursor: poiinter;

    a {
        text-decoration: none;
        color: inherit;
    }
}

#hamburger {
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#hamburger.is-active .line:nth-child(1) {
    transform: translateX(100%);
    opacity: 0;
}

#hamburger.is-active .line:nth-child(3) {
    transform: translateX(-100%);
    opacity: 0;
}

#hamburger:hover {
    cursor: pointer;
}

.line {
    width: 40px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.side-wrapper {
    position: fixed;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    width: 30vw;
    background-color: #000;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 9999;

    .side-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 1em;
        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 0.36em;
            padding: 0.5em 0;
            margin-left: auto;
            margin-bottom: 1.5em;
            border-bottom: 5px solid transparent;
            transition: border-bottom 0.3s ease-in-out;
            -webkit-transition: border-bottom 0.3s ease-in-out;
            -o-transition: border-bottom 0.3s ease-in-out;
        }
        a:hover {
            border-bottom-color: var(--color-accent);
            cursor: pointer;
        }
    }
}

.side-wrapper.is-active {
    transform: translateX(0);
}