.resume-wrapper {
    display: grid;
    grid-template-columns: minmax(0, 0.6fr) 1fr;

    margin-top: calc(var(--header-height) + 20px);

    margin: 50px auto;
    padding: 50px 2rem 0;

    .left-rail {
        display: flex;
        flex-direction: column;

        align-items: flex-start;

        justify-content: flex-start;

        .section-label {
            text-transform: uppercase;

            font-size: 1.1rem;
            font-weight: 600;
            
            line-height: 1.8;
            letter-spacing: 0.12rem;

            color: rgba(31, 126, 190, 0.6);
        }
    }
}