.project-card {
    width: 28vw;
    height: 80vh;
    background: #FFF;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;

    .image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        display: block;
    }

    .content {
        padding: 20px;
        text-align: left;

        .title {
            font-size: 1.5em;
            margin-top: 0;
            margin-bottom: 5px;
            color: #333;
        }

        .subtitle {
            font-size: 0.875em;
            color: #777;
            margin-bottom: 15px;
        }

        .description {
            font-size: 1em;
            line-height: 1.5;
            color: #555;
            margin-bottom: 20px;
        }

        .link {
            display: inline-block;
            color: #007bff;
            text-decoration: none;
            font-size: 1em;

            :hover {
                text-decoration: underline;
            }
        }
    }
}