.contact-page-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 50px;
    height: calc(100vh - 0px);
    width: 80vw;
    margin: 0 auto;

    > * {
        flex: 1 1 50%;
        max-width: 50%;
    }

    .info {
        text-align: left;
        max-width: 400px;
    }
}