.about-wrapper {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 1rem;
    margin-top: 50px;
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 50px;
    font-size: 1.5rem;
    height: 670px;
}